<%- model_class = Talk %>
  <div class="page-header">
    <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
  </div>
  <table class="table table-striped">
    <thead>
      <tr>
      <th><%= model_class.human_attribute_name(:title) %></th>
      <th><%= model_class.human_attribute_name(:description) %></th>
      <th><%= model_class.human_attribute_name(:tag_list) %></th>
      <th><%= model_class.human_attribute_name(:duration) %></th>
      <th><%= model_class.human_attribute_name(:speaker) %></th>
      <th><%= model_class.human_attribute_name(:date_event) %></th>
      <th><%= model_class.human_attribute_name(:status) %></th>
      <% if current_user %>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
      <% end %>
    </tr>
   </thead>
   <tbody>
    <% @talks.each do |talk| %>
      <tr>
        <td><%= talk.title %></td>
        <td><%= link_to talk.description, talk_path(talk.id) %></td>
        <td>
          <span class="tag-color">
            <%= raw talk.tag_list.map { |t| link_to t, tag_path(t) }.join(', ') %>
          </span>
        </td>
        <td><%= talk.duration %></td>
        <td><%= talk.speaker %></td>
        <td><%= talk.date_event %></td>
        <td class="dropdown">
          <button class="btn dropdown-toggle status <%= talk.state %>" type="button" data-toggle="dropdown">
            <%= talk.state %>
            <% if can? :update_states, Talk %>
            <span class="caret"></span>
          </button>
            <ul class="dropdown-menu">
              <li class="approved"><%= link_to 'Approve', approve_talk_path(talk), method: :put  %></li>
              <li class="rejected"><%= link_to 'Reject',  reject_talk_path(talk),  method: :put %></li>
              <li class="delayed "><%= link_to 'Delay',   delay_talk_path(talk),   method: :put %></li>
              <% end %>
            </ul>

        <% if current_user && (current_user.role == "moderator" || current_user.id == talk.user_id) %>
        <td>
          <%= link_to '<i class="fa fa-pencil-square-o"></i>'.html_safe,
                      edit_talk_path(talk), :class => 'btn btn-default btn-md',
                      :title => 'Edit' %>
          <%= link_to '<i class="fa fa-ban"></i>'.html_safe,
                      talk_path(talk),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-md btn-danger',
                      :title => 'Delete' %>
        </td>
      <% end %>
      </tr>
    <% end %>
  </tbody>
</table>