<p id="notice"><%= notice %></p>

<h1>Listing Talks</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Duration</th>
      <th>Speaker</th>
    </tr>
  </thead>

  <tbody>
    <% @talks.each do |talk| %>
      <tr>
        <td><%= talk.title %></td>
        <td><%= talk.description %></td>
        <td><%= talk.duration %></td>
        <td><%= talk.speaker %></td>
        <td><button type="button" name="button"> <%= link_to 'Show', talk %></button></td>
        <td><button><%= link_to 'Edit', talk_path(talk.id) %></button></td>
        <td><button>
          <%= link_to 'Delete', talk_path(talk),
          method: :delete,
          data: { confirm: 'Do you really want to delete?' } %>
        </button></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<button><%= link_to 'New Talk', new_talk_path %></button>
