<div class="col-lg-12 col-md-11">
  <h2>Proposed talks</h2>
  <% if @proposed_talks.any? %>
    <table class="table table-bordered table-striped">
      <tbody>
        <% @proposed_talks.each do |talk| %>
          <tr>
            <td>
              <%= link_to talk.title, talk %>
              &mdash; <%= t "kind_#{talk.kind}", scope: 'activerecord.attributes.talk' %>,
              by <%= talk.user.name %>
            </td>
          </tr>
          <tr>
            <td><%= simple_format talk.description %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% else %>
    <p>No talks :( <%= link_to 'Submit one', new_talk_path %></p>
  <% end %>

  <h2>Past talks</h2>
  <% if @presented_talks.empty? %>
    <table class="table table-bordered table-striped">
      <thead>
        <tr>
          <th class="col-md-4">Title</th>
          <th class="col-md-3">Speaker</th>
          <th class="col-md-2">Duration</th>
        </tr>
      </thead>

      <tbody>
        <% @presented_talks.each do |talk| %>
          <tr>
            <td><%= link_to talk.title, talk_path(talk.id) %></td>
            <td><%= talk.user.name %></td>
            <td><%= 5 %> minutes</td>
          </tr>
          <tr>
            <td colspan="4"><%= simple_format talk.description %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% end %>
</div>
