<p id="notice"><%= notice %></p>

<h1>Listing Talks</h1>

<table>
  <thead>
    <tr>
      <th>Speaker</th>
      <th>Title</th>
      <th>Description</th>
      <th>Duration</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @talks.each do |talk| %>
      <tr>
        <td><%= talk.speaker %></td>
        <td><%= talk.title %></td>
        <td><%= talk.description %></td>
        <td><%= talk.duration %></td>
        <td><%= link_to 'Show', talk %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Talk', new_talk_path %>
