<%- model_class = Talk %>
<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <% if can? :manage, User %>
        <%= render template: "users/index" %>
      <% end %>

      <%= render "talks/partials/talk" %>

      <% if current_user %>
        <%= link_to t('.new', :default => t("helpers.links.new")),
                    new_talk_path,
                    :class => 'btn btn-primary' %>
        <% else %>
        <%= link_to t('.submit', :default => t("helpers.links.submit a new talk")),
                    submit_path,
                    :class => 'btn btn-primary' %>
      <% end %>
      <div id="tag_cloud">
        <% tag_cloud Talk.tag_counts, %w[s m l] do |tag, css_class| %>
          <%= link_to tag.name, tag_path(tag.name), class: css_class %>
        <% end %>
      </div>
    </div>
  </div>
</div>