<div class="col-lg-12 col-md-11">
  <% if @approved_talks.any? %>
    <h2>Scheduled talks</h2>

    <table class="table table-bordered table-striped">
      <thead>
        <tr>
          <th class="col-md-4">Title</th>
          <th class="col-md-3">Speaker</th>
          <th class="col-md-2">Duration</th>
          <th class="col-md-3">Tag List</th>
        </tr>
      </thead>

      <tbody>
        <% @approved_talks.each do |talk| %>
          <tr>
            <td><%= link_to talk.title, talk_path(talk.id) %></td>
            <td><%= talk.user.name %></td>
            <td><%= talk.duration %> minutes</td>

            <td>
              <span class="tag-color">
                <% talk.tag_list.each do |tag| %>
                  <%= link_to tag, "#" %>
                <% end %>
              </span>
            </td>
          </tr>
          <tr>
            <td colspan="4"><%= simple_format talk.description %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% end %>

  <h2>Pending talks</h2>

  <% if @pending_talks.empty? %>
    <p>No talks :( <%= link_to 'Submit one', new_talk_path %></p>
  <% else %>
    <table class="table table-bordered table-striped">
      <thead>
        <tr>
          <th class="col-md-4">Title</th>
          <th class="col-md-3">Speaker</th>
          <th class="col-md-2">Duration</th>
          <th class="col-md-3">Tag List</th>
        </tr>
      </thead>

      <tbody>
        <% @pending_talks.each do |talk| %>
          <tr>
            <td><%= link_to talk.title, talk_path(talk.id) %></td>
            <td><%= talk.user.name %></td>
            <td><%= talk.duration %> minutes</td>

            <td>
              <span class="tag-color">
                <% talk.tag_list.each do |tag| %>
                  <%= link_to tag, "#" %>
                <% end %>
              </span>
            </td>
          </tr>
          <tr>
            <td colspan="4"><%= simple_format talk.description %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% end %>

  <div id="tag_cloud">
    <% tag_cloud Talk.tag_counts, %w[s m l] do |tag, css_class| %>
      <%= link_to tag.name, tags_path(tag.name), class: css_class %>
    <% end %>
  </div>
</div>
