<div class="col-lg-9 col-md-11">
  <h2>
    <%= @talk.title %>
  </h2>

  <p>
    <%= t "kind_#{@talk.kind}", scope: 'activerecord.attributes.talk' %>,
    by <%= @talk.user.name %>
  </p>

  <%= simple_format @talk.description %>

  <%= link_to talks_path, class: 'btn btn-primary' do %>
    <i class="fa fa-undo" aria-hidden="true"></i> Back
  <% end %>
</div>
