<%= form_for @user, html: { multipart: true } do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>
      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :avatar, class: 'control-label' %><br>
    <%= f.file_field :avatar, :id => 'inputFile' %>
    <% if @user.avatar? %>
    <%= image_tag @user.avatar_url(:normal).to_s, class: "image_upload_preview" %>
    <% else %>
    <%= image_tag "http://placehold.it/200x200", size: "200", class: "image_upload_preview" %>
    <% end %>
  </div>

    <div class="field">
    <%= f.label :remote_avatar_url, "or image url", class: 'control-label' %><br>
    <%= f.text_field :remote_avatar_url %>
  </div>
  <p>
    <label >
      <%= f.check_box :remove_avatar if current_user %>
      <%= f.label "Remove Avatar" if current_user %>
    </label>
  </p>
  <div class="field">
    <%= f.label :name, class: 'control-label' %><br>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :email, class: 'control-label' %><br>
    <%= f.email_field :email %>
  </div>

  <% if can? :manage, User %>
  <div class="field">
    <%= f.label :role, class: 'control-label' %><br>
    <%= f.collection_select :role, User::ROLES, :to_s, :humanize %>
  </div>
  <% end %>

  <div class="actions">
    <%= f.submit nil, class: 'btn btn-primary' %>
  </div>
<% end %>
