<%= form_for @user, url: preferences_path, html: { multipart: true } do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>
      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :email, class: 'control-label' %><br>
    <%= f.email_field :email, disabled: true %>
  </div>

  <div class="field">
    <%= f.label :name, class: 'control-label' %><br>
    <%= f.text_field :name %>
  </div>

  <div class="actions">
    <%= hidden_field_tag :from, params[:from] %>
    <%= f.submit nil, class: 'btn btn-primary' %>
  </div>
<% end %>
