<% content_for :head do %>
  <title><%= @user.name  %>'s Profile</title>
<% end %>

<div class="col-lg-9 col-md-11">
  <%= image_tag @user.avatar_url(:normal).to_s %>
  <div>
  <p><strong>Name:</strong><%= @user.name %></p>
  <p><strong>Email:</strong><%= @user.email %></p>
  <p><%= link_to 'Edit', edit_user_path(@user), class: 'btn btn-primary' %>
  <%= link_to 'Delete', @user, class: 'btn btn-primary', method: :delete, data: { confirm: 'Are you sure?' } %></p>
  <p><%= link_to '<i class="fa fa-undo" aria-hidden="true"></i> Back'.html_safe, users_path, class: 'btn btn-primary' %> </p>
  </div>
</div>