<div class="col-lg-8">

  <% @talks.each do |talk| %>

    <% if talk.state == "approved" %>

      <div class="talk-post">

        <div class="start">{ <span>// TalkList @ PortoCodes</span></div>

        <h2>
          <%= talk.title %>
          <small><%= talk.time_event %> . <a href="<%= talk.location_coordinates %>" target="_blank" class="brand-tooltip" data-toggle="tooltip" data-placement="right" title="<%= talk.location_name %>">Where?</a></small>
        </h2>

        <%= simple_format talk.description %>

        <p class="talk-details"><strong>Duration:</strong> <%= talk.duration %> minutes</br>
        <strong>Speaker:</strong> <%= talk.speaker %></p>

        <% if talk.video or talk.resource %><hr><% end %>

        <% if talk.video %>
        <a href="<%= talk.video %>" target="_blank" class="btn btn-primary icon icon-video"><span></span> Watch video</a>
        <% end %>

        <% if talk.resource %>
        <a href="<%= talk.resource %>" target="_blank" class="btn btn-primary icon icon-download"><span></span> Download</a>

        <% end %>

        <div class="end">} <span>// End.TalkList</span></div>

      </div>

    <% end %>

  <% end %>

</div>
