<% if current_user %>
  <ul>
    <li>
      <a href="<%= preferences_path %>"
         class="profile-image"
         style="background-image: url('<%= current_user.avatar %>')"></a>
      <div>
        <span>
          <span><%= current_user.name || current_user.email %></span>
          <%= link_to 'Logout', session_path, method: :delete, class: "logout" %>
        </span>
      </div>
    </li>
      <li><%= link_to 'Preferences', preferences_path, class: 'btn btn-primary' %>
    </li>
      <li><%= link_to 'Submit Talk', new_talk_path, class: 'btn btn-primary' %>
    </li>
  </ul>
<% else %>
  <ul class= "nav navbar-nav logged-out">
    <li><%= link_to 'Submit Talk', new_talk_path, :class => 'btn btn-primary' %></li>
    <li><%= link_to "Log In", new_session_path %></li>
  </ul>
<% end %>
