<nav class="navbar">
  <%= link_to root_path, class: 'navbar__brand' do %>
    <%= image_tag "logo.svg", alt: "Porto Codes", class: "img-responsive" %>
  <% end %>

  <ul class="navbar__profile">
    <li><%= link_to 'Talks', talks_path, class: 'btn btn-primary' %></li>
    <li><%= link_to 'Submit Talk', new_talk_path, class: 'btn btn-primary' %></li>

    <% if current_user %>
      <li><%= link_to 'Preferences', preferences_path, class: 'btn btn-primary' %>
      <li>
        <%= form_with url: session_path, method: :delete do |f| %>
          <%= f.submit "Logout (#{current_user.name || current_user.email})", class: "btn btn-primary" %>
        <% end %>
      </li>
    <% else %>
      <li><%= link_to 'Login', new_session_path, class: "btn btn-primary" %></li>
    <% end %>
  </ul>
</nav>
