<!DOCTYPE html>
<html>
  <head>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= favicon_link_tag 'favicon.ico' %>
    <%= csrf_meta_tags %>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
  </head>
  <body>

    <% if content_for?(:head) %>
       <%= content_for(:head) %>
    <% else %>
      <title>PortoCodes</title>
    <% end %>
    <%= render "layouts/components/flash" %>
    <%= render "layouts/components/navbar" %>

    <main role="main">
      <section id="content">
       <div class="container-fluid">
         <div class="row">
            <%= yield %>
          </div>
        </div>
      </section>
    </main>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-beta1/jquery.min.js"></script>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  </body>
</html>
